.DayPickerInput-OverlayWrapper .DayPickerInput-Overlay{
  z-index: 10;
}
.general-text {
  font-size: 16px;
}
.page-center-signup{
  position: relative;
  top: 40%;
  -webkit-transform: translateY(7%);
  -ms-transform: translateY(7%);
  transform: translateY(7%);
}
.social-btn{
  margin-top: 80px;
}
.column .signup-with {
  margin-bottom: 10px;
  min-width: 204px;
}

@media (min-width: 421px) and (max-width: 767px) {
  .boxify{
    max-width: 420px;
    margin: auto;
    text-align: center;
  }
  .social-btn{
    margin-top: 5px;
  }
  .left-align-social-btn{
    text-align: center !important;
  }
}

@media (max-width: 420px){
  .social-btn{
    margin-top: 5px;
  }
  .left-align-social-btn{
    text-align: center !important;
  }
}