.page-center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.box-shadow-effect{
  -webkit-box-shadow: -9px 4px 29px -6px rgba(102,102,102,0.7);
  -moz-box-shadow: -9px 4px 29px -6px rgba(102,102,102,0.7);
  box-shadow: -9px 4px 29px -6px rgba(102,102,102,0.7);
}
.hover-underline:hover{
  text-decoration: underline;
}
.fb-btn{
  background: #4267B2 !important;
  color: white !important;
  text-align: left !important;
  padding-left: 30px !important;
  padding-right: 3px !important;
}

.gmail-btn{
  background: #D64937 !important;
  color: white !important;
  text-align: right !important;
  padding-right: 31px !important;
}
.g-icon{
  padding-left: 21px !important;
}
.or-divider{
  padding: 1px;
}